<section class="py-5">
  <div class="container">
    <h2 class="text-center mb-5">Gallery</h2>

    <div class="row g-4">
      <div class="col-md-4">
        <img src="{{GALLERY_IMAGE_1}}" class="img-fluid rounded shadow-sm" alt="">
      </div>
      <div class="col-md-4">
        <img src="{{GALLERY_IMAGE_2}}" class="img-fluid rounded shadow-sm" alt="">
      </div>
      <div class="col-md-4">
        <img src="{{GALLERY_IMAGE_3}}" class="img-fluid rounded shadow-sm" alt="">
      </div>
    </div>
  </div>
</section>