<section class="py-5 bg-light">
  <div class="container-fluid px-0">
    <div class="row g-0">
      <div class="col-6 col-md-3">
        <img src="{{GALLERY_IMAGE_1}}" class="img-fluid w-100 h-100 object-fit-cover" alt="">
      </div>
      <div class="col-6 col-md-3">
        <img src="{{GALLERY_IMAGE_2}}" class="img-fluid w-100 h-100 object-fit-cover" alt="">
      </div>
      <div class="col-6 col-md-3">
        <img src="{{GALLERY_IMAGE_3}}" class="img-fluid w-100 h-100 object-fit-cover" alt="">
      </div>
      <div class="col-6 col-md-3">
        <img src="{{GALLERY_IMAGE_4}}" class="img-fluid w-100 h-100 object-fit-cover" alt="">
      </div>
    </div>
  </div>
</section>