<section id="package" class="training-packages py-5">
  <div class="container text-center mb-5">
    <h2 class="mb-3">Training Packages</h2>
    <p class="lead">Whether you are just starting out or looking to break through to the next level, we have a training package designed to meet you where you are and help you reach your goals.</p>
  </div>

  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-5 justify-content-center">
      {{PACKAGE_STEPS}}
    </div>
  </div>
</section>
